<div class="body">						
  <div role="main" class="main">							
  <div class="container">
  <div class="row">
  <div class="col-md-9 col-md-push-3">							
      </div>
      <aside class="col-md-3 col-md-pull-9 sidebar shop-sidebar">
        <div class="panel-group">
          <div class="panel panel-default">							
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                  Categories
                </a>
              </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
              <div class="panel-body">
                <ul>
                  <li><a href="#">Default</a></li>
                  <li><a href="#">Chicken</a></li>
                  <li><a href="#">Mutton</a></li>
                  <li><a href="#">Egg</a></li>
                </ul>
              </div>
            </div>
          </div>							
            
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-size">
                   Sort By
                    </a>
                  </h4>
                </div>
                <div id="panel-filter-size" class="accordion-body collapse in">
                  <div class="panel-body">
                    <ul class="configurable-filter-list">
                        <li>
                            <a href="#">Default</a>
                          </li>
                      <li>
                        <a href="#">price Low-High</a>
                      </li>
                      <li>
                        <a href="#">price High-Low</a>
                      </li>
                      <li>
                        <a href="#">Name A-Z</a>
                      </li>
                      <li>
                        <a href="#">Name Z-A</a>
                      </li>
                     
                      
                    </ul>
                  </div>
                </div>
              </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-size">
               RATING
                </a>
              </h4>
            </div>
            <div id="panel-filter-size" class="accordion-body collapse in">
              <div class="panel-body">
                <ul class="configurable-filter-list">
                  <li>
                    <a href="#">5 star</a>
                  </li>
                  <li>
                    <a href="#">4 star</a>
                  </li>
                  <li>
                    <a href="#">3 star</a>
                  </li>
                  <li>
                    <a href="#">2 star</a>
                  </li>
                  <li>
                    <a href="#">1 star</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-brand">
                Top Sellers
                </a>
              </h4>
            </div>
            <div id="panel-filter-brand" class="accordion-body collapse in">
              <div class="panel-body">
                <ul>
                  <li><a href="#">Shop name-1</a></li>
                  <li><a href="#">Shop name-2</a></li>
                  <li><a href="#">Shop name-3</a></li>
                </ul>
              </div>
            </div>
          </div>								
        </div>											
      </aside>
    </div>
  </div>
</div>		
</div>
