<br><br><div class="container">
  <div class="order">
  <h2><strong> your order</strong></h2>
    <a href="#" class="btn btn-info btn-lg">
      Add <span class="glyphicon glyphicon-plus"></span> 
    </a>
    </div><br>
    <div class="panel panel-default">
      <div class="panel-body">
      <div class="panel-heading"><h4><strong>Order details</strong></h4></div><br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>     
        </tr>
      </thead>
        <tr>
          <td>Item name</td>
        <td>*quantity</td>
        <td>=</td>
          <td>sub total price</td>
        </tr>
        <tr> 
          <td></td>
         <td>Total</td>
          <td>=</td>
          <td>totalprice</td>
        </tr>
    </table>
    </div>
    </div>
    <div class="edit">
      <h5><a href="#profile"><span class="glyphicon glyphicon-edit"></span><font color="blue"> Edit delivery details?</font></a></h5>
    </div>
  </div><br>
  <div class="care">
   <p> <a  routerLink="/footer" >Issue with an order?</a>	</p>
     </div>
 