<div class="container">
  <div class="order">
    <h2>Order status</h2>
  </div>
  
  
</div>
      <div class="solution">
        <p><a href="#">problem with the current order?</a></p><br>
        <p><a href="#">cancel the order?</a></p><br>
        <p><a href="#">problem with the past order?</a></p><br>
        <p><a href="help.html">Help?</a></p><br>
        </div>
        <div class="row">
          <div class="col-sm-6" >Chat Us<i class="fa fa-comments-o" style="font-size:36px"></i></div>
          <div class="col-sm-6" ><i class="fa fa-phone" style="font-size:24px"></i>Contact Us</div>
        </div>
        <br>
        <div class="center">
          <p><b>Note:</b>The order cancellation process should be confirmed by the restaurant only.<br>Then process will be done successfully</p><br>  
        