<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" ><a routerLink="/content">
           Category
          </a></div>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="/header">Order Details</a></li>
       
      </ul>
    </div>
  </nav>
  
  
  
<router-outlet></router-outlet>
